
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">
       
       <bean id="StuDetails" class="com.klu.model.StudentDetails">
       <constructor-arg value="41"/>
       <constructor-arg value="Nitisha"/>
       <property name="Course" value="FSAD"/>
       <property name="Year" value="2"/>
      
       </bean>
 </beans>